@import url('https://fonts.googleapis.com/css?family=Poppins:wght@400;500;600;700;800&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    text-align: center;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 100%;
    vertical-align: baseline;
}

body .l2{
    text-align: center;
    font-family: 'Poppins', sans-serif;
}


.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    background: #d6f3f8;
    position: fixed;
    width: 100%;
    z-index: 100%;
}

.navbar2{
    display: flex;
    margin-right: 10px;

}

.logo2{
    margin-left: 30px;
}


.logo2 a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar2 a{
    display: block;
    padding: 23px 20px;
    color: #8e92ca;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar2 a:hover {
    background: #fff;



}

.header2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header2 {
    
    background: url(images/ciel.jpg )no-repeat center;
   
   background-position: center bottom;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;
}

.logo2 {
    color: #F08BD6;
}
.title2 {
    color: #8BAEF0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 40px;
    font-size: large;
    font-size: 80%;
    font-weight: 600;
    text-transform: uppercase;
}

.planets2 {
    text-align: center;
    font-family: 'times new roman';
    color: #9c27b0;
}


.title2 {
    font-style: oblique;
    color: #0000f0;
}



.p2 {
    margin-bottom: 40px;
    font-size: 18px;
    color: #fff;
    padding: 0 100px;
}

.btn2 {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px solid #9c27b0;
    color: #fff;
    text-decoration: none;
    background: #9c27b0;
}

.btn2:hover {
    background: #9c27b0;
}

.content2 {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sau2 {
    padding: 60px;
    background: #0000f0;
}


.box-container2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.box-container2 .box2{
    height: 11rem;
    width: 17rem;
    background: #050608;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 .3 rem 5rem rgba(0,  0,  0, .5);
    margin: 2rem;
}

.box-container2 .box2 i{
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    background: #9c27b0;
    font-size: 2rem;
    margin: 1rem 0;
}

.box-container .box2 h3 {
    font-size: 20px;
    color: #9c27b0;
}

.box-container .box2 p{
    padding: 0 15px;
    font-size: 16px
}

.img2{
    width: max-content;
    height: 20%;

}

.about2{
    background: #4b5d7a;
}

.price2{
    background-color: #d6f3f8;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}

.contact2{
    padding-top: 20px;
    background: #171717;
    padding-bottom: 0;
}

@media (max-width: 768px) {
    .title2{
        margin-bottom: 0;
        font-size: 40px;
    }

    .saw2 {
        height: 12s0hv;
    }
    
    .navbar2 {

        display: inline;
    }
    
}

.content-box{
    background-color: #8e92ca;
}

