@import url('https://fonts.googleapis.com/css?family=Poppins:wght@400;500;600;700;800&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    text-align: center;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 100%;
    vertical-align: baseline;
}

.head2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    background: #d6f3f8;
    position: fixed;
    width: 100%;
    z-index: 100%;
}

.navbar2{
    display: flex;
    margin-right: 10px;

}
.logo2{
    color: #d6f3f8;
}


.navbar2 a{
    display: block;
    padding: 23px 20px;
    color: #8e92ca;
    text-decoration: none;
    font-size: 20px;
}

.navbar2 a:hover {
    background: #fff;



}

.header2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.planets{
    font-family: verdana;
    font-size: larger;
    color: #fff;
}

.contenedor{
display: grid;
grid-template-columns: 1fr  1fr;

}

.one-section{
    padding: 0cap;
    background: url(images/ciel.jpg);
    background-position: center bottom;
    background-size: cover;
    min-height: 70vh;
    display: flex;


}

.one-section2{
    background: url(images/asteroids.jpg);
    background-position: center bottom;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;

}

.one-section3{
    background: url(images/constelaciones2.jpg);
    background-position: center bottom;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;

}
.header2 {
    
    background: url(images/boreal.jpg )no-repeat center;
   background-position: center bottom;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;
}


.title2 {
    color: #8BAEF0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 40px;
    font-size: large;
    font-size: 80%;
    font-weight: 600;
    text-transform: uppercase;
}



.title2 {
    font-style: oblique;
    color: #0000f0;
}



.btn2 {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px solid #9c27b0;
    color: #fff;
    text-decoration: none;
    background: #9c27b0;
}

.btn2:hover {
    background: #9c27b0;
}

.content2 {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.box-container2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.box-container2 .box2{
    height: 11rem;
    width: 17rem;
    background: #050608;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 .3 rem 5rem rgba(0,  0,  0, .5);
    margin: 2rem;
}

.box-container2 .box2 i{
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    background: #9c27b0;
    font-size: 2rem;
    margin: 1rem 0;
}
/**desde aqui carru */
h1{
    color: #fff;
    text-shadow: 1px 2px 2px  black, 0 0 5px blue;
    text-align: center;

    /* shadow genera sombra*/
}

div.galeria{
     margin: 10px 20px;
     box-shadow: 0 4px 8px 0 lightblue, 0 6px 20px 0 black;
     width: 350px;
}


div.galeria img{
    width: 100%;
    height: auto;

}

.img-stars{
    width: 100px;
}

div.galeria:hover{
    border: 1px, solid lightcoral;
    transform: rotate(-3deg);

    /*transform hace que la imagn mueva */
}
div.pie{
    text-align: center;
    text-shadow: 2px  2px 5px purple;
    padding: 10px;
}

.box-container .box2 p{
    padding: 0 15px;
    font-size: 16px
}



.price2{
    background-color: #d6f3f8;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}

.contact2{
    padding-top: 20px;
    background: #171717;
    padding-bottom: 0;
}

@media (max-width: 768px) {
    .title2{
        margin-bottom: 0;
        font-size: 40px;
    }

    .navbar2 {

        display: inline;
    }
    
}


.planetas1{
    background-color: #8e92ca;
}

.text-history{
    background-color:  #F7E4F7;
    margin-top: 5%;
   
    
}

.know{
    color: #EBE78E;
    font-size: larger;
}

.curios{
    background-color: #d6f3f8;
}


.carrusel{
   
   display: flex;
   flex-wrap: nowrap;
   overflow: scroll;


}


.element{
    flex: 1 0 auto;
    margin: 0 50px;
    background-color: #F0D0F7;
    width: 50px;
    height: 200px;
}


.clasif{
    background-color: #0000f0;
    color: #d6f3f8;

}

.comp{
    color: #EBE78E;
}

.curiosidades{
    text-align: center;
}

.clasif-planets{
    background-color: #8BAEF0;
}

.curiosidades{
    background-color: #F7E4F7;
}

.parr {
    background-color: #8BAEF0;
    padding: 15px;
    padding-left: 20%;
    padding-right: 20%;
    font-family: 'Courier New', Courier, monospace;
    color: #9837ad;
   
}

.titulo{
    display: flex;
    grid-template-columns: 1fr 1fr;
}

.imagenes{
    display: flex;
    object-fit: cover;
}
.imagenes .img{
    justify-content: center;
    display: flex;
    object-fit: cover;
}
