@import url('https://fonts.googleapis.com/css?family=Poppins:wght@400;500;600;700;800&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    text-align: center;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 100%;
    vertical-align: baseline;
}

body{
    text-align: center;
    font-family: 'Poppins', sans-serif;
}


.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    background: #d6f3f8;
    position: fixed;
    width: 100%;
    z-index: 100%;
}

.navbar{
    display: flex;
    margin-right: 10px;

}

.logo{
    margin-left: 30px;
}


.logo a{
    text-decoration: none;
    color: #4b5d7a;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a{
    display: block;
    padding: 23px 20px;
    color: #8e92ca;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a:hover {
    background: #fff;

}


.header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header{
    
    background: url(images/boreal.jpg )no-repeat center;
   
   background-position: center bottom;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;
}

.logo{
    color: #F08BD6;
}
.title{
    color: #8BAEF0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 40px;
    font-size: large;
    font-size: 80%;
    font-weight: 600;
    text-transform: uppercase;
}

.planets{
    text-align: center;
    font-family: 'times new roman';
    color: #9c27b0;
}


.title2{
    font-style: oblique;
    color: #0000f0;
}



p{
    margin-bottom: 40px;
    font-size: 18px;
    color: #fff;
    padding: 0 100px;
}

.btn{
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px solid #9c27b0;
    color: #fff;
    text-decoration: none;
    background: #9c27b0;
}

.btn:hover {
    background: #9c27b0;
}

.content{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sau{
    padding: 60px;
    background: #0000f0;
}


.box-container{
    background-color: #8BAEF0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.box-container .box{
    height: 11rem;
    width: 17rem;
    background: #050608;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 .3 rem 5rem rgba(0,  0,  0, .5);
    margin: 2rem;
}

.box-container .box i{
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    background: #9c27b0;
    font-size: 2rem;
    margin: 1rem 0;
}

.box-container .box h3 {
    font-size: 20px;
    color: #9c27b0;
}

.box-container .box p{
    padding: 0 15px;
    font-size: 16px
}

.img{
    width: max-content;
    height: 20%;

}

.about{
    background: #4b5d7a;
}

.price{
    background: url(images/aguj.jpg);
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}

.contact{
    padding-top: 20px;
    background: #171717;
    padding-bottom: 0;
}


div.galeria{
    margin: 10px 20px;
    box-shadow: 0 4px 0 lightblue, 0 6px 0 #171717;
    float: left;
    width: 35px;

}

div.galeria img{

    width: 100%;
    height: auto;
}

div.galeria:hover{
    border: 1px solid lightcoral;
    transform:  rorate(-3deg);
}


div.pie{
    text-align: center;
    text-shadow: 2px 2px 5px purple;
    padding: 10px;
}


